* {
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(../img/venezuela9.jpg) no-repeat center center fixed;
        background-size: cover;;
}

.container {
    margin: 10vh;
    height: 400px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 500px;
}

.logo {
    width: 335px;
    height: 310px;
    background: url(../img/cantvLogo.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    filter: drop-shadow(0px 5px 10px cyan);
    animation: rotar 9s linear infinite;
}

.logo:hover {
    cursor: pointer;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

.sombra1 {
    color: lightseagreen;
    text-shadow: -12px -10px 5px #050505;
    font-size: 25px;
    font-family: 'Unna', serif;
    text-align: center;
}

.sombra2 {
    color: white;
    text-shadow: -5px -4px 5px #050505;
    font-size: 25px;
    font-family: fantasy;
    text-align: center;

}

.sombra3 {
    color: black;
    text-shadow: -5px -4px 5px #050505;
    font-size: 30px;
    font-family: 'serif';
    text-align: center;

}
/*
.bottom_part {
    width: 20rem;
    height: 20rem;
    position: absolute;
    bottom: -94px;
    background: #242424;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 10px #11111136;
    transform: rotateX(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_part::before {
    content: "";
    width: 16rem;
    height: 16rem;
    position: absolute;
    bottom: 5rem;
    background: blue;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 10px #11111136;
    filter: blur(30px);
    animation: Animate 1s linear infinite;
}

@keyframes Animate {
    from {
        width: 16rem;
        height: 16rem;
    }

    50% {
        width: 12rem;
        height: 12rem;
    }

    to {
        width: 16rem;
        height: 16rem;
    }
}*/