/*Nueno inicio*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(../img/cantvLogo1.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: blue;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 70px;
}

.menu-horizontal {
    list-style: none;
    display:flex;
    justify-content:space-between;
}

.menu-horizontal > li > a {
    display: block;
    padding: 10px 50px;
    color:white;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: transparent;
}

.menu-vertical {
    position:absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(91, 109, 212, 0.849);
    border-radius: 2px;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    border-radius: 10px;
}

.menu-vertical li:hover {
    background-color: blue;
}

.menu-vertical li a {
    display:contents;
    color: cyan;
    padding: 1px 1px 1px 2px;
    text-decoration: none;
}

/*Fin del nuevo inicio

@import url('../css/googleApis.css');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}


div.ini {
        display: inline-block; padding-left: 0px;
}

div.ini2 {
        display: inline-block; padding-left: 3px;
}
div.ini3 {
        padding-left: 7px;
}

/*body {
    min-width: 100vmin;
    background: url(../img/venezuela9.jpg) no-repeat center center fixed;
    background-size: cover;
}

button {
    margin: 10px;
    font-family: "Sofia", sans-serif;
}

.boton {
    background-color: transparent;
    color: cyan;
    margin: 1em;
    font-size: 14px;
    box-sizing: content-box;
    border-radius: 5%;
    width: 152px;
    height: 100px;
    border: 4px outset cyan;
}


.boton:hover {
    /*text-shadow: 5 2 4px;
    color: transparent;
   /* padding: 0.5em 0.7em;
    box-sizing: content-box;
    font-size: 14px;
    margin: 1em;
    border-radius: 5%;
    width: 152px;
    height: 100px;
    border: 4px inset lightgrey;
    font-family: "Sofia", sans-serif;
    transform: rotatey(360deg);
    transition: 1.7s ease-in-out;
    background: url(../img/venezuela8.jpg) no-repeat center center fixed;
    background-size: cover;
   /* transform: scaley(1);

 
}

*/
h1 {
    font-family: 'Unna';
    color: white;
}

.sombra {
    color: cyan;
    text-shadow: -10px -8px 5px #050505;
    font-size: 25px;
    font-family: 'Unna', serif;
    text-align: center;
}
.sombra1 {
    color: lightseagreen;
    text-shadow: -12px -10px 5px #050505;
    font-size: 25px;
    font-family: 'Unna', serif;
    text-align: center;
}

.sombra2 {
    color: white;
    text-shadow: -5px -4px 5px #050505;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.sombra2 img {
    width: 25px;
    height: 25px;
}
