/*Nueno inicio*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(../img/cantvLogo1.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: blue;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 70px;
}

.menu-horizontal {
    list-style: none;
    display:flex;
    justify-content:space-between;
}

.menu-horizontal > li > a {
    display: block;
    padding: 10px 50px;
    color:white;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: transparent;
}

.menu-vertical {
    position:absolute;
    display: none;
    line-height: 30px;
    list-style: none;
    width: 200px;
    background-color: rgba(91, 109, 212, 0.849);
    border-radius: 2px;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    border-radius: 10px;
}

.menu-vertical li:hover {
    background-color: blue;
}

.menu-vertical li a {
    display:contents;
    color: cyan;
    padding: 1px 1px 1px 2px;
    text-decoration: none;
}


h1 {
  font-family: 'Unna';
  color: white;
}

.sombra {
  color: cyan;
  text-shadow: -10px -8px 5px #050505;
  font-size: 25px;
  font-family: 'Unna', serif;
  text-align: center;
}
.sombra1 {
  color: lightseagreen;
  text-shadow: -12px -10px 5px #050505;
  font-size: 25px;
  font-family: 'Unna', serif;
  text-align: center;
}

.sombra2 {
  color: white;
  text-shadow: -5px -4px 5px #050505;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}

.sombra2 img {
  width: 25px;
  height: 25px;
}
/*Fin del nuevo inicio