body {
    /*    display: flex;*/
    min-height: 100px;
    margin: auto;
    padding: 0%;
    /*background-image: url(../img/newcantv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background-color: blue;

}

.dos {
    color: grey;
    text-align: center;
    display: inline-block;
    background-color: black;
    box-sizing: content-box;
    font-size: 18px;
    margin: 5px;
    border-radius: 5px;
    border: 8px outset grey;
    text-decoration: none;
}

.dos:hover {
    color: white;
    text-decoration: none;
}

.uno {
    font-size: 16px;
    color: cyan;
   }

.container-slider {
    width: 1250px;
    /*max-width: 700px;*/
    height: 860px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 0px #fff,
        0px 0px 0px;
    position: relative;
}

.slider {
    display:contents;
    width: 900px;
    height: 800px;
    margin-left: -100%;
}

.slider__section {
    color: cyan;
    font-size: 18px;
    width: 100%;
    height: 100%;
    background-color: black ;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: lightskyblue;
    top: 1%;
    transform: translateY(-0%);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.slider__btn:hover {
    background: transparent;
    color: black;
}

.slider__btn--left {
    left: 3px;
    color: white;
}

.slider__btn--right {
    right: 5px;
    color: blue;
}